*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.navbar{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #dbfe7b , #ff7e5f , rgb(255, 192, 218));
}

.items{
    margin-right: 30px;
}
.items a{
    display: flex;
    text-decoration: none;
    color: black;
    margin-right: 20px;
    transition: transform 1s ease-in;

}

.items a:hover{
    text-decoration: underline;
    color: rgb(0, 119, 255);
    text-shadow: #ff7e5f;
    text-underline-offset: 5px;
    transform: scale(1.1);
}

.logo{
    display: flex;
    position: relative;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 30px;
    align-items: center;
    justify-content: center;
    transition: transform 1s ease-in;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logo:hover{
       transform: rotate(360deg);
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg1{
    background-image: url(spring.jpeg);
    object-fit: cover;
}

.bg2{
    background-image: url(summer.jpg);
    object-fit: cover;
}

.bg3{
    background-image: url(reset.jpeg);
    object-fit: cover;
}

.bg4{
    background-image: url(winter.jpg);
    object-fit: cover;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: larger;
}