*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg1{
    background-image: url(spring.jpeg);
    object-fit: cover;
}

.bg2{
    background-image: url(summer.jpg);
    object-fit: cover;
}

.bg3{
    background-image: url(autumn.jpg);
    object-fit: cover;
}

.bg4{
    background-image: url(winter.jpg);
    object-fit: cover;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: larger;
}